body {
    margin: 0px;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.li {
    display: flex;
    list-style: none;
    flex-direction: row;
}